mkdocs-material==9.5.27
mkdocs-macros-plugin==1.0.5
mkdocs-drawio-file==1.5.2
mkdocs-table-reader-plugin==2.2.2
mkdocs-minify-plugin==0.8.0
mkdocs-redirects==1.2.1
mkdocs-glightbox==0.4.0
pymdown-extensions==10.8.1
mkdocs-pdf==0.1.2